/*Универсальный селектор, соответствует любому элементу*/
* {
    margin: 0;
}

/*Селектор элементов*/
h1 {
    font-family: Lobster, cursive;
}

/*Селектор класса*/
.headline {
    text-transform: uppercase;
    color: lightblue;
}

/*Селектор идентификатора*/
#sidebar {
    width: 300px;
    float: left;
}

/*Селектор потомка*/
p.first a {
    color: green;
} /*Применяется ко всем ссылкам,потомкам абзаца с классом first*/
p .first a {
    color: green;
} /*Применяется к ссылкам, которые расположены внутри любого элемента класса .first, который является потомком элемента <p>*/
.first a {
    color: green;
} /*Применяется к любой ссылке, расположенной внутри другого элемента, обозначенного классом .first*/

/*Дочерний селектор*/
p > strong {
    color: green;
} /*Все элементы strong, являющимися дочерними к p*/

/*Сестринский селектор*/
h1 + p {
    color: green;
} /*Применяется к первым абзацам, идущим непосредственно за элементом <h1>, не затрагивая остальные*/
h1 ~ p {
    color: green;
} /*Применяется ко всем абзацам, являющимися сестринскими по отношению к h1 и идущие сразу после него*/

/*Группировка селекторов*/
h1,
h2,
p,
span {
    color: tomato;
    background: white;
}

/*Каскад*/
h1 {
    color: lightblue;
} /*специфичность 0, 0, 0, 1*/
em {
    color: silver;
} /*специфичность 0, 0, 0, 1*/
h1 em {
    color: gold;
} /*специфичность: 0, 0, 0, 1 + 0, 0, 0, 1 = 0, 0, 0, 2*/
div#main p.about {
    color: blue;
} /*специфичность: 0, 0, 0, 1 + 0, 1, 0, 0 + 0, 0, 0, 1 + 0, 0, 1, 0 = 0, 1, 1, 2*/
.sidebar {
    color: grey;
} /*специфичность 0, 0, 1, 0*/
#sidebar {
    color: orange;
} /*специфичность 0, 1, 0, 0*/
li#sidebar  {
    color: aqua;
} /*специфичность: 0, 0, 0, 1 + 0, 1, 0, 0 = 0, 1, 0, 1*/