* {
    margin: 0;
    padding: 0;
} /*Очистка стилей браузеров (если есть) для всех элементов; отступы и поля соответственно*/
p {
    margin-top: 20px; /*Верхний отступ*/
    margin-right: 1em; /*Правый отступ*/
    margin-bottom: 5%; /*Нижний отступ, вычисляется относительно блока контейнера*/
    margin-left: auto; /*Левый отступ, расширяется до края содержащего блока*/
    margin-top: inherit; /*Устанавливает значение по умолчанию*/
    margin-right: initial; /*Наследует значение свойства от родительского элемента*/
}
h1 {
    margin: 20px;/*Применяется ко всем сторонам*/
}
h2 {
    margin: 20px, 20px; /*1ое - верхний и нижний отступы, 2ое - правый и левый*/
}
h3 {
    margin: 20px, 20px, 20px; /*1ое - верхний отступ, 2ое - правый и левый, 3е - нижний*/
}
h4 {
    margin: 20px, 20px, 20px, 20px; /*Верхний, правый, нижний и левый соответственно*/
}
p {
    padding-top: 0.5em;/*Верхнее поле*/
    padding-right: 0;/*Правое поле*/
    padding-bottom: 2cm;/*Нижнее поле*/
    padding-left: 10%;/*Левое поле, вычисляются относительно нирины родительского элемента*/
    padding-top: inherit;/*Устанавливает значение по умолчанию*/
    padding-bottom: initial;/*Наследует значение свойства о родительского элемента*/
}