/*Ширина содержимого*/
.p1 {
    width: 100px;/*Задается в единицах длины*/
    width: 10em;
    width: 50%;/*Вычисляется относительно ширины содержащего блока*/
    width: auto;/*Вычисляется в зависимости от значений других свойств, значение по умолчанию*/
    width: inherit;/*наследует значение свойства от родительского элемента*/
}
/*Минимальная и максимальная ширина*/
.p2 {
    min-width: 100px;
    min-width: 10em;
    min-width: 50%;
    min-width: inherit;
    max-width: 500px;
    max-width: 20em;
    max-width: 80%;
    max-width: none;/*Отсутствует ограничение ширины блока*/
    max-width: inherit;
}
/*Высота содержимого*/
.p3 {
    height: 100px;
    height: 10em;
    height: 50%;/*Рассчитывается относительно высоты содержащего блока*/
    height: auto;
    height: inherit;
}
/*Минимальная и максимальная высота*/
.p4 {
    min-height: 100px;
    min-height: 2em;
    min-height: 50%;
    min-height: inherit;
    max-height: 500px;
    max-height: 20em;
    max-height: 80%;
    max-height: none;
    max-height: inherit;
}
/*Расчет высоты строки*/
.em1 {
    line-height: normal;/*Устанавливает "разумное" значение на основе шрифта элемента*/
    line-height: 2em;/*Задается в единицах длины*/
    line-height: 1.5;/*Число, умноженное на размер шрифта элемента*/
    line-height: 50%;/*Процент, умноженный на вычисленный размер шрифта элемента*/
    line-height: inherit; /*Наследует от родительского элемента*/
}
.em2 {
    vertical-align: baseline;/*Выравнивает по базовой линии родителя*/
    vertical-align: sub;/*Подстрочный*/
    vertical-align: super;/*Надстрочный*/
    vertical-align: text-top;/*Выравнивает относительно верхней линии текста строки*/
    vertical-align: text-bottom;/*Выравнивает относительно нижней линии текста строки*/
    vertical-align: middle;/*Выравнивает середину элемента по точке, которая находится на расстоянии, равном половине размера шрифта родительского элемента*/
    vertical-align: top;/*Выравнивает относительно верхнего края самого высокого элемента в линии*/
    vertical-align: bottom;/*Выравнивает относительно нижнего края самого низкого элемента в линии*/
    vertical-align: 6em;
    vertical-align: 10px;
    vertical-align: 25%;/*Вычисляется как часть line-height элемента, а не его родителя*/
    vertical-align: inherit;
}
