/*Схема позиционирования*/
div {
    position: static;/*блок располагается в соответствии с нормальным потоком*/
    position: relative;/*положение блока рассчитывается в соответствии с нормальным потоком, затем блок смещается относительно его нормального положния*/
    position: absolute;/*положение блока задается с помощью свойств top, right, bottom и left, они определяют явное смещение относительно его содержащего блока*/
    position: sticky;/*положение блока рассчитывается в соответствии с нормальным потоком, затем смещается относительно своего ближайшего предка*/
    position: fixed;/*аналогично абсолютному позиционированию, но для него устанавливается окно просмотра*/
    position: initial;
    position: inherit;
}
/*Смещение блока*/
div {
    /*Это раастояние, на которое верхний край абсолютно позиционированного блока смещается ниже верхнего края содержащего блока*/
    top: 10px;
    top: 2em;
    top: 50%;
    top: auto;
    top: inherit;
    top: initial;
    /*Расстояние, на которое правый край абсолютно позиционированного блока смещается влево от правого края содержащего блока*/
    right: -10px;
    right: .5em;
    right: -10%;
    right: auto;
    right: inherit;
    right: initial;
    /*Расстояние, на которое нижний край блока смещен вверх относительно нижнего края содержащего блока*/
    bottom: 50px;
    bottom: -3em;
    bottom: -50%;
    bottom: auto;
    bottom: inherit;
    bottom: initial;
    /*Расстояние, на которое левый край абсолютно позиционированного блока смещается вправо от левого края содержащего блока*/
    left: 50px;
    left: 10em;
    left: 20%;
    left: auto;
    left: inherit;
    left: initial;
}
/*Обтекание*/
div {
    float: left;/*элемент перемещается влево, содержимое обтекает плавающий блок по правому краю*/
    float: right;/*Аналогично как left*/
    float: none;/*Отсутствие обтекания*/
    float: inherit;
}
/*Управление потоком рядом с плавающими элементами*/
div {
    clear: none;/*отсутствие ограничений на положение элемента*/
    clear: left;/*смещает вниз относительно нижнего края плавающего слева элемента*/
    clear: right;/*смещает вниз относительно нижнего края плавающего справа элемента*/
    clear: both;/*смещает вниз относительно нижнего края плавающего слева и справа элемента*/
    clear: inherit;
}